.t_body {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.t_body .selectAccount {
    border: 1px solid;
    margin: 0 -5px;
    display: block;
}

.t_body .selectBank {
    border: 1px solid;
    margin: 0 -5px;
    display: block;
}

.t_body .transfer {
    width: 100%;
    border: 1px solid;
    display: block;
}