.t_body {position:relative; width:940px; margin:0 auto;}
.t_body .Check_Balance {width:940px; border: 1px solid; font-size: 0; margin: 0 -5px; display: block;}
.t_body .Check_Balance div:first-child { width: 280px; padding: 0 5px;}
.t_body .Check_Balance .accountArea {height: 150px;}