 
  .position-absolute {
    position: absolute;
  }

  body.swal2-toast-shown .swal2-container.swal2-center-end, body.swal2-toast-shown .swal2-container.swal2-center-right {
    right: 10% !important;
  }
  .swal2-container {
    height: 100% !important;
  }
  .swal-container {
    height: 25% !important;
  }
  .swal2-popup.swal2-toast .swal2-icon {
    width: 4em !important;
    height: 4em !important;
  }

  .swal2-popup.swal2-toast .swal2-html-container {
    font-size: 1.6em !important;
    align-items: center !important;
    overflow: hidden !important;
  }

  body.swal2-toast-shown .swal2-container {
    width: 800px !important;
  }

  .swal2-popup.swal2-toast .swal2-actions {
    justify-content: space-evenly !important;
  }